/*
	This file is part of Voicepls.

	Voicepls is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	Voicepls is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with Voicepls.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
// File: style.css
//
// Desc:
//  CSS for voicepls.
//
// License: GPLv3
//
// Authors:
//  2013 lumirayz <lumirayz@gmail.com>
*/

body {
	overflow: hidden;
}

#main {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#topbar {
	width: 100%;
	height: 23px;
	line-height: 23px;
	text-align: center;
	background: #444;
	color: #fff;
	border-radius: 2px;
	width: calc(100% - 20px);
	margin: 5px auto;
}

#splitter {
	position: absolute;
	left: 0;
	top: 24px;
	width: 100%;
	height: calc(100% - 24px);
}

#splitter_left {
	position: relative;
	float: left;
	width: calc(100% - 200px);
	height: 100%;
}

#userlist {
	position: fixed;
	width: 170px;
	border: 1px solid #CCC;
	margin-top: 15px;
	right: 15px;
	border-radius: 5px;
	padding: 4px 0;
}

#chatrecv {
	position: relative;
	width: 100%;
	height: calc(100% - 50px);
	background-color: rgb(255, 255, 255);
	overflow-y: auto;
	overflow-x: hidden;
	top: 15px;
}

#chatbuttons {
	position: relative;
	height: 20px;
	width: 100%;
	margin-left: 5px;
	background-color: #CCC;
	border: 1px solid #111;
	border-radius: 4px;
	overflow: hidden;
}

#chatbuttons > .chatbutton {
	width: 18px;
	height: 18px;
	margin: 1px;
	cursor: pointer;
}

#chatsend {
	width: 100%;
	height: 20px;
	border: 1px solid #AAA;
	border-radius: 2px;
	margin-left: 5px;
	background: #FFF;
	margin-bottom: 5px;
	margin-top: 5px;
}

#chatsend_tb {
	border: none;
	background:transparent;
	width: 100%;
	height: 17px;
}

.msg_cont {
	margin: 4px;
	overflow: hidden;
}

.msg_media {
	clear: both;
	height: 100px;
	padding-left: 120px;
	overflow: hidden;
}

.msg_media_div {
	position: relative;
	display: block;
	float: left;
	width: 90px;
	height: 90px;
	margin: 5px;
	overflow: hidden;
	cursor: pointer;
}

.msg_media_img {
	max-width: 100%;
	max-height: 100%;
}

.msg_media_overlay_img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}

.msg_system_nick, .msg_text_nick, .msg_emote_nick {
	float: left;
	padding-right: 5px;
	margin-right: 5px;
	width: 100px;
	overflow: hidden;
	text-align: right;
	font-weight: bold;
	font-size: 10px;
	line-height: 15px;
}

.msg_system_nick {
	color: #F00;
}

.msg_emote_nick {
	visibility: hidden;
}

.msg_system_body, .msg_emote_body, .msg_text_body {
	float: left;
	overflow: hidden;
	width: calc(100% - 120px);
	border-left: 1px solid #111;
	padding-left: 5px;
	word-break: break-word;
}

.msg_emote_body {
	color: #F0F;
	border-left: none;
}

.ul_node_cont {
	padding: 4px;
	display: block;
	margin: 1px 4px;
	cursor: pointer;
	border-radius: 5px;
	overflow: hidden;
}

.ul_node_cont:hover{
	background: #EEE;
}

.ul_node_nick {
	margin-left: 4px;
}
